# 编译产物
train
eval

#数据
data/
generated/
*.csv

# 模型文件
*.bin
!web-app/src/assets/weights.bin
!web-app/src/assets/test_samples_1000.bin
!web-app/src/assets/test_samples_10000.bin
!web-app/src/assets/emnist_samples_1000.bin
!web-app/src/assets/emnist_samples_40000.bin
!web-app/public/weights.bin
!web-app/public/emnist_weights.bin
!html/weights.bin

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 调试文件
*.dSYM/
*.out
